<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{css/bootstrap.css}">
    <div th:replace="menunav :: dependencias"/>

</head>
<body>
<div th:replace="menunav :: common-navbar-cursos" />
<div class="container">
    <br>
    <h2>Agregar Curso</h2>
    <form action="#" th:action="@{/save/curso}" th:object="${curso}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre del curso</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
        </div>

        <input type="hidden" th:field="*{id}" name="id" id="id">

        <div class="form-group">
            <div class="dropdown">
                <select th:field="*{idProfesorJefe}">
                    <option value="0">Profesor Jefe</option>
                    <option th:each="user : ${listProfesores}"
                            th:value="${user.id}"
                            th:text="${user.nombre}"></option>
                </select>
            </div>
        </div>

        <div class="form-group" >
            <textarea  placeholder="Descripcion" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{descripcion}"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
</body>
</html>