<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Altas cumbres </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}" >
    <link href="../css/signin.css" rel="stylesheet">
</head>

<body class="justify-content-center align-items-center" >

<form action="#" th:action="@{/save/alumno}" th:object="${alumno}" method="post">

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputNombreAlumno">Nombre Alumno</label>
            <input type="text" th:field="*{nombre}" class="form-control" id="inputNombreAlumno" >
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="invalid-feedback">Name Error</div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputApellidoAlumno">Apellido Alumno</label>
            <input type="text" th:field="*{apellido}" class="form-control" id="inputApellidoAlumno">
            <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="invalid-feedback">Name Error</div>
        </div>
    </div>

    </div>
    <div class="form-row">
        <div class="form-group" col-md-6>
            <label for="exampleFormControlSelect1">Curso</label>
            <select th:field="*{idCurso}"  class="form-control" id="exampleFormControlSelect1">
                <option th:each="curso: ${cursos}" th:value="${curso.id}"><span  th:text="${curso.nombre}"></span></option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

</body>
</html>