<!doctype html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Intranet </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"></script>

    <!-- Bootstrap core CSS -->
    <script type="text/javascript" th:src="@{/js/datatable.js}"></script>

    <link href="../css/bootstrap.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="pricing.css" rel="stylesheet">

</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PROF')">
    <div th:replace="menunav :: common-navbar-board" />
</div>
<div class="container-fluid">
    <div class="row">
        <!--
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item" >
                        <br>
                        <a class="nav-link active" th:href="@{'/settipo/' + 'todo'}">
                            <span data-feather="file"></span>Anual<span class="sr-only">(current)</span>
                        </a>

                        <a class="nav-link active" th:href="@{'/settipo/' + 'todo'}">
                            <span data-feather="file"></span>Unidad<span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>-->

        <main role="main" class="col-md-9 ml-sm-auto col-lg px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div th:each="c : ${curso}">
                <h1 class="h2"><span th:text="${c.nombre}"></span></h1>

                   <!--
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-warning">Año</button>
                        <button type="button" class="btn btn-sm btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">2020</a>
                            <a class="dropdown-item" href="#">2021</a>

                        </div>
                    </div>

                   -->

                </div>

                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROF')" class="container">
                    <div class="row">

                <div class="col-xl-2 col-md-6">
                    <div class="card bg-pattern">
                        <div class="card-body  " >
                            <div class="float-right">
                                <i class="fa fa-file text-primary h4 ml-3"></i>
                            </div>
                            <h5 class="font-size-20 mt-0 pt-1"><td th:text="${totalRechazados}"></h5>
                            <p class="text-muted mb-0">Rechazados</p>
                        </div>
                    </div>
                </div>
                        <div class="col-xl-2 col-md-6">
                            <div class="card bg-pattern">
                                <div class="card-body">
                                    <div class="float-right">
                                        <i class="fa fa-file text-primary h4 ml-3"></i>
                                    </div>
                                    <h5 class="font-size-20 mt-0 pt-1"><td th:text="${totalSinRevisar}"></h5>
                                    <p class="text-muted mb-0">Sin revisar</p>
                                </div>
                            </div>
                        </div>

                <div  class="col-xl-2 col-md-6">
                    <div class="card bg-pattern">
                        <div class="card-body">
                            <div class="float-right">
                                <i class="fa fa-file text-primary h4 ml-3"></i>
                            </div>
                            <h5 class="font-size-20 mt-0 pt-1"><td th:text="${totalArchivos}"></td>
                            </h5>
                            <p class="text-muted mb-0">Archivos totales</p>
                        </div>
                    </div>
                </div>
                    </div>
                </div>

            </div>





                <table id="filesTable" class="table table-striped">
                    <thead class="thead-dark">
                    <tr >
                        <th scope="col">Descripción</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Fecha</th>
                        <th sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROF')"  scope="col">Observaciones</th>
                        <th th:if="${version == 'archivos'}"scope="col">Tipo</th>
                        <th th:if="${version == 'archivos'}"scope="col">Categoria</th>
                        <th th:unless="${version == 'archivos'}" scope="col">Materia</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="archivo : ${listaArchivos}">
                            <div th:if="${version == 'archivos'}">
                                <td th:text="${archivo.descripcion}?: ${archivo.nombreArchivo}"></td>
                            </div>
                            <div th:unless="${version == 'archivos'}">
                                <td th:text="${archivo.nombreArchivo}"></td>
                            </div>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${archivo.fecha}"></td>
                            <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROF')" th:text="${archivo.comentario}"></td>
                            <div th:if="${version == 'archivos'}">
                                <td th:text="${archivo.tipo}"></td>
                                <td th:text="${archivo.categoria}"></td>
                            </div>
                            <div th:unless="${version == 'archivos'}">
                                <td th:text="${archivo.materia}"></td>
                            </div>
                            <td>
                                <span th:if="${archivo.estado == 'sin revisar'}" class="badge badge-pill badge-info" th:text="${archivo.estado}"></span>
                                <span th:if="${archivo.estado == 'aprobado'}" class="badge badge-pill badge-primary" th:text="${archivo.estado}"></span>
                                <span th:if="${archivo.estado == 'rechazado'}" class="badge badge-pill badge-danger" th:text="${archivo.estado}"></span>
                                <span th:if="${archivo.estado == 'actualizado'}" class="badge badge-pill badge-warning" th:text="${archivo.estado}"></span>
                            </td>
                            <td>
                                <a th:href="@{'download/file/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Ver o descargar" type="button" class="btn btn-light"><i class="fa fa-download"></i></button></a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'comentario/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Agregar comentario" type="button" class="btn btn-success"><i class="fa fa-edit"></i></button></a>
                                <a sec:authorize="hasAnyRole('ROLE_PROF')" th:href="@{'delete/file/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Eliminar archivo" type="button" class="btn dark"><i class="fa fa-trash"></i></button></a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'approve/state/file/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Aprobar archivo" type="button" class="btn btn-primary"><i class="fa fa-thumbs-o-up"></i></button></a>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'refuse/state/file/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Rechazar archivo" type="button" class="btn btn-danger"><i class="fa fa-thumbs-o-down"></i></button></a>
                                <a sec:authorize="hasRole('ROLE_PROF')" th:href="@{'up/' + ${archivo.id}}"><button data-toggle="tooltip" data-placement="top" title="Actualizar archivo" type="button" class="btn btn-dark"><i class="fa fa-refresh"></i></button></a>
                                <!--<a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROF')" th:href="@{'send/file'}"><button data-toggle="tooltip" data-placement="top" title="Enviar" type="button" class="btn dark"><i class="fa fa-paper-plane-o"></i></button></a>-->
                            </td>
                        </tr>
                    </tbody>
                </table>

        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="../js/dashboard.js"></script>



</body>
</html>