<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plataforma</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{css/bootstrap.css}">
    <div th:replace="menunav :: dependencias"/>
</head>
<body>
<div class="container">
    <br>
    <h2>Agregar Archivos</h2>
    <br>
    <form action="#" th:action="@{/upload}"  method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label >Tipo de archivo</label>
            <div class="dropdown">
                <select type="text" name="tipo">
                    <option value="">...</option>
                    <option value="Planificacion">Planificación</option>
                    <option value="Prueba">Prueba</option>
                    <option value="Calendario">Calendario</option>
                    <option value="Guia">Guía</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label >Categoría</label>
            <div class="dropdown">
                <select type="text" name="categoria">
                    <option value="">...</option>
                    <option value="Anual">Anual</option>
                    <option value="Unidad">Unidad</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label >Materia</label>
            <div class="dropdown">
                <select type="text" name="materia">
                    <option value="Ciencias">Ciencias</option>
                    <option value="Ingles">Ingles</option>
                    <option value="Religión">Religión</option>
                    <option value="Historia">Historia</option>
                    <option value="Artes">Artes</option>
                    <option value="Matemática">Matemática</option>
                    <option value="Lenguaje">Lenguaje</option>
                    <option value="Tecnologia">Tecnología</option>
                    <option value="Taller de Biblioteca">Taller de Biblioteca</option>
                    <option value="Orientación">Orientación</option>
                    <option value="Valores">Valores</option>
                    <option value="Ed Fisica">Ed Fisica</option>
                    <option value="Musica">Música</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label >Descripción</label>
            <input class="form-control" type="text" name="des" >
        </div>

        <div class="form-group">
            <div class="custom-file">
                <input multiple type="file" name="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
            </div>
        </div>

        <p th:text="${message}" th:if="${message != null}" class="alert alert-danger"></p>

        <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-3 col-md-9">
                <button id="btnSubmit" type="submit" class="btn btn-success" >
                    Subir
                </button>
            </div>
        </div>

    </form>
</div>
<!--
<script>
    $("#btnSubmit").click(function () {
        $(this).prop("disabled", true);

        $(this).html(
        '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Subiendo...'
        );
    })
</script>-->
</body>

</html>