<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.0.1">
  <title>Altas Cumbres San Clemente</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}" >

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="../css/cover.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Altas Cumbres de San Clemente</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/intranet">Intranet</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Bienvenidos.</h1>
    <p class="lead">A través de esta página los usuarios registrados pueden acceder a la Plataforma Digital del Colegio Altas Cumbres de San Clemente, en donde podrán subir sus archivos para una posterior revisión, todo esto de manera segura y amigable. .</p>
    <p class="lead">
      <a th:href="@{'/cursos'}" class="btn btn-lg btn-warning">Descargar Recursos 2020</a>


  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Sitio desarrollado por <a href="https://es.stackoverflow.com/users/85961/tom%c3%a1s-salgado">Tomas Salgado</a></p>
    </div>
  </footer>
</div>
</body>
</html>