<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}" >
    <link href="../css/signin.css" rel="stylesheet">
</head>
<body class="text-center" >
<form th:action="@{/login}" method="post" class="form-signin">
    <img src="/images/logo.png" alt="logimages" class="img-thumbnail">

    <h1 class="h3 mb-3 font-weight-normal">Ingreso Plataforma Altas Cumbres</h1>
       <div class="form-group" id="user-group">
        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
    </div>
    <div class="form-group" id="contrasena-group">
        <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <br>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Nombre de usuario o contraseña incorrectos.
    </div>
    <p class="lead">
        <a th:href="@{'/'}" class="btn btn-success">Volver</a>
    </p>
</form>

</body>
</html>

