<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Altas Cumbres</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.css}">
</head>
<body>

<div th:fragment="common-navbar-semanas" class="d-flex sticky-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Altas Cumbres</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/cursos">Cursos</a>
        <!--<a sec:authorize="hasRole('ROLE_ADMIN')" class="p-2 text-dark" href="/save/curso/0">Agregar</a>-->
    </nav>
</div>

<div th:fragment="common-navbar-cursos" class="d-flex sticky-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Altas Cumbres</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a sec:authorize="hasRole('ROLE_ADMIN')" class="p-2 text-dark" href="/usuarios">Usuarios</a>
        <!--<a sec:authorize="hasRole('ROLE_ADMIN')" class="p-2 text-dark" href="/save/curso/0">Agregar</a>-->
    </nav>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark">Salir</button>
    </form>
    <div th:if="${notificacion != 0}">
    <div class="dropdown ml-2 mt-auto" >
        <button  class="btn btn-primary dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="badge badge-light"><span th:text="${notificacion}"></span></span>
        </button>
            <div class="dropdown-menu p-4 text-muted dropdown-menu-right dropdown-menu-lg-left" style="width: 300px;" >
                <div th:each="comentario : ${comentarios}">

                    <h7><span th:text="${comentario.autor}"></span></h7>
                    <p><font size="1">
                        Ha agregado un comentario en su archivo: <span th:text="${comentario.nombreArchivo}"></span> del curso <span th:text="${comentario.curso}"></span>
                    </font>
                    </p>
                    <div class="dropdown-divider"></div>
                </div>

            </div>
    </div>
    </div>
</div>

<div th:fragment="common-navbar-usuarios" class="d-flex sticky-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Altas Cumbres</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/register/user">Agregar </a>
    </nav>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark">Salir</button>
    </form>
</div>

<div th:fragment="common-navbar-board" class="d-flex sticky-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Altas Cumbres</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a sec:authorize="hasRole('ROLE_ADMIN')" class="p-2 text-dark" href="/usuarios">Usuarios</a>
        <a class="p-2 text-dark" href="/cursos">Cursos</a>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROF')" class="p-2 text-dark" href="/add/file">Agregar </a>
    </nav>
    <form sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROF')" th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-dark">Salir</button>
    </form>
</div>

<div th:fragment="dependencias">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="js/addcurso.js"></script>
    <script type="text/javascript" th:src="@{/js/datatable.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.tabledit.js}"></script>
</div>

</body>
</html>