<!doctype html>
<html
        lang="es"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
        >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="generator" content="Jekyll v4.0.1">
  <title>Intranet </title>

  <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div th:replace="menunav :: dependencias"/>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="../css/dashboard.css" rel="stylesheet">
  <link href="pricing.css" rel="stylesheet">

</head>
<body>
<div class="d-flex sticky-top flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Altas Cumbres</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/add/nota">Agregar Nota</a>
    <a class="p-2 text-dark" href="/cursos">Cursos</a>
  </nav>
  <form sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PROF')" th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-dark">Salir</button>
  </form>
</div>


<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 mt-3 d-none d-md-block bg-gradient-light text-dark sidebar">
      <div class="sidebar-sticky">
        <ul th:each="asignatura : ${listaAsig}" class="nav flex-column">
          <li  class="nav-item">
            <a class="nav-link" th:href="@{'get/asignatura/' + ${asignatura.id}}">
              <h5><span class="badge badge-warning"  th:text="${asignatura.nombre}" data-feather="bar-chart-2"></span></h5>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

        <h2>Primer trimestre 2021 / <span class="text-success" th:text="${aElegida}"></span> </h2>

        <table class="table table-hover table-bordered" id="tabla-1">
          <thead class="thead-dark">
            <tr>
              <th style="display: none;">#</th>
              <th>Nombre  </th>
              <th>Apellido</th>
              <th th:each="nombreNota: ${cantidadNotas}"  th:text="${nombreNota}" />
              <th>Promedio</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="alumno : ${alumnos}">

              <td  scope="row" style="display: none;" th:text="${alumno.id}"></td>

              <td th:text="${alumno.nombre}"></td>

              <td th:text="${alumno.apellido}"></td>

              <th:block th:each="nota : ${alumno.notas.?[asignatura.nombre == '__${aElegida}__' ]} ">
                <form  th:action="@{/guardar-nota}"   method="post" th:object="${nota}">
                  <td class="tabledit-view-mode" style="cursor: pointer;">
                    <input th:name="idNota" type="hidden"  th:value="${nota.id}" />
                    <!--<span  th:field="${id}" th:value="nota.id" style="display: none;"></span>-->
                    <span class="tabledit-span" th:id="valorNota" th:text="${nota.valor}"></span>
                    <input  th:name="nuevoValor" class="tabledit-input form-control input-sm" type="text"  style="display: none;" disabled="">
                  </td>
                </form>
              </th:block>

            </tr>
          <!--T(java.lang.String).format(aElegida)-->
          </tbody>
        </table>
    </main>
  </div>
</div>

</body>


</html>