<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plataforma</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{css/bootstrap.css}">
    <div th:replace="menunav :: dependencias"/>
</head>
<body>
<div class="container">
    <br>
    <h2>Agregar Recurso</h2>
    <br>
    <form action="#" th:action="@{/upload/recurso}"  method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label >Materia</label>
            <div class="dropdown">
                <select type="text" name="materia">
                    <option value="Ciencias">Ciencias</option>
                    <option value="Ingles">Ingles</option>
                    <option value="Religión">Religión</option>
                    <option value="Historia">Historia</option>
                    <option value="Artes">Artes</option>
                    <option value="Matemática">Matemática</option>
                    <option value="Lenguaje">Lenguaje</option>
                    <option value="Tecnologia">Tecnologia</option>
                    <option value="Taller de Biblioteca">Taller de Biblioteca</option>
                    <option value="Orientación">Orientación</option>
                    <option value="Valores">Valores</option>
                    <option value="Ed Fisica">Ed Fisica</option>
                    <option value="Musica">Musica</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Fecha</label>
            <input class="form-control" type="date" name="date">
            <small class="form-text text-muted">Por favor !! seleccionar el primer lunes de la semana correspondiente el recurso.</small>
        </div>

        <div class="form-group">
            <div class="custom-file">
                <input multiple type="file" name="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
            </div>
        </div>

        <p th:text="${message}" th:if="${message != null}" class="alert alert-danger"></p>

        <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset col-md-9">
                <div class="btn-group">
                <button id="btnSubmit" type="submit" class="btn btn-success" >
                    Subir
                </button>
                </div>
                <div class="btn-group">
                    <a th:href="@{'/recursos'}">
                    <button id="btnCancel" class="btn btn-danger" >
                        Cancelar
                    </button>
                    </a>
                </div>
            </div>
        </div>

    </form>
<!--
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Recursos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Su archivo se ha subido exitosamente, desea agregar otro archivo.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Si</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>-->

</div>

</body>

</html>