<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Intranet </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div th:replace="menunav :: dependencias"/>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{css/usuarios.css}"/>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        ion-icon {
            color: #4e555b;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>
<div >
    <div th:replace="menunav :: common-navbar-semanas" />
</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Semanas</h1>
    <p class="lead">Para elegir un archivo, deben ir a la semana correspondiente y seleccionar recursos.</p>
</div>

<div class="container">
    <div class="card-columns">
        <div th:each="fecha : ${lista}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Semana del : <span th:text="${fecha.fecha}"></span>
                    al </h5>
                    <div class="row">
                        <div class="col">
                            <a th:href="@{'set/fecha/recursos/' + ${fecha.fechaDate}}" class="btn btn-primary">Ver recursos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>