<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Altas Cumbres</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{/css/bootstrap.css}" >
    <link href="../css/signin.css" rel="stylesheet">
</head>
<body class="justify-content-center align-items-center" >
<div class="container">
    <!-- Content here -->
<div class="alert alert-success">
    <strong>Success!</strong> You should <a href="#" class="alert-link">Registro Exitoso!!</a>.
</div>
    <a th:href="@{'/add/alumno'}" class="btn btn-primary btn-lg btn-block">Registrar otro alumno</a>

</div>

</body>
</html>