<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingresar archivo</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:ref="@{css/bootstrap.css}">
    <div th:replace="menunav :: dependencias"/>

</head>
<body>
<div th:replace="menunav :: common-navbar-board" />

<div class="container">
    <br>
    <h2>Actualizar Archivo</h2>
    <br>

    <form action="#" th:action="@{/update}"  method="post" enctype="multipart/form-data">

        <div class="form-group">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Archivo Actualizado</label>
            </div>
        </div>

        <p th:text="${message}" th:if="${message != null}" class="alert alert-danger"></p>
        <button id="btnSubmit" type="submit" class="btn btn-success" >
            Actualizar
        </button>

    </form>
</div>
<script>
    $("#btnSubmit").click(function () {
        $(this).prop("disabled", true);

        $(this).html(
            '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Actualizando...'
        );
    })
</script>
</body>

</html>